
:root {
  --color-primary: #7c16f9;
  --color-secondary: #4760c3;
  --color-light: #abc3fc;
  --color-green: #22C55E;
  --color-red: #EF4444;
  --gradient-start: #e2cbff;
  --gradient-end: #f2c7fe;
}